:root {
    /* black and whites */
    --black: #000000;
    --white: #FFFFFF;
    --transparent: rgba(255, 255, 255, 0.0);

    /* different emphasis of white */
    --white-he: rgba(255,255,255,0.87);
    --white-me: rgba(255,255,255,0.6);
    --white-le: rgba(255,255,255,0.38);
    
    /* shades of gray #808080 */
    --dark-gray-transparent: rgba(18,18,18,0.4);

    --gray-95: #F2F2F2;
    --gray-90: #E6E6E6;
    --gray-80: #CCCCCC;
    --gray-70: #B3B3B3;
    --gray-60: #999999;
    --gray-50: #808080;
    --gray-40: #666666;
    --gray-30: #4D4D4D;
    --gray-20: #333333;
    --gray-15: #262626;
    --gray-10: #1A1A1A;
    --gray-7: #121212;
    --gray-5: #0D0D0D;

    /* shades of blue #0080ff */
    --blue-90: #CCE5FF;
    --blue-80: #99CCFF;
    --blue-70: #66B2FF;
    --blue-60: #3399FF;
    --blue-50: #0080FF;
    --blue-40: #0066CC;
    --blue-30: #004D99;
    --blue-20: #003366;
    --blue-10: #001933;
    --blue-5: #000D1A;

    /* shades of orange #FF5A00 */
    --orange-50: #FF5A00;
	     
    /* colourful */
    --cream: #FFF1DB
    --navy: #232533;
    --orange: #FF5722;
}
