@import "/css/colours.css";

body {
  /* remove default margin on webpages */
  margin: 0px;
  background-color: var(--cream);
  font-family: Arial, Helvetica, sans-serif;

  color: var(--navy);
}

header {
  /* stick header to the top when scrolling, but doesn't overlap other content */
  position: sticky;
  top: 0;
  overflow: hidden;
  padding: 0px;
  color: var(--navy);
  background-color: var(--cream);
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

/* inner header, placing contents within 80% of the width of the page */
div.inner-header {
  margin: 0 10% 0 10%;
}

/* style the header links */
header a {
  float: left;
  color: var(--navy);
  text-align: center;
  padding: 12px;
  text-decoration: none;
  line-height: 25px;
}

#header-logo {
  font-size: 25px;
  font-weight: bold;
}

/* navigation bar to the right of logo */
nav.navbar {
  /* float bar to the right */
  float: right;
}

nav.navbar a {
  font-size: 18px;
  margin: 0px 10px;
  /* needed to fill size, so it doesn't increase when hovering */
  border-bottom: 3px solid var(--cream);
}

/* header a:not(#header-logo):not(.active):hover */

/* change style when hovering, if it's not the header-logo */
header .navbar a:not(#header-logo):hover {
  color: var(--orange);
  border-bottom: 3px solid var(--orange);
}

/* change style of active */
header .navbar a.active {
  color: var(--orange);
}

main {
  margin: 40px;
}
