@import "/css/theme.css";
@import "/css/z-index.css";

body {
  margin: 0px;
  background-color: var(--background-color);
  /* font Arial, fall back on Helvetica */
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text-color-he);
}

/* HEADER */

/* header element, styled as the top bar */
header {
  /* sticks to the top when scrolling, without overlapping other content */
  position: sticky;
  /* place on top */
  top: 0;
  background-color: var(--background-color-e1);
  /* border-bottom: 1px solid var(--background-color-e1); */
  /* place on top of content*/
  z-index: var(--z-index-header);
}

/* inner header div, where home button / title and navbar are */
header .inner-header {
  /* place contents within 76% of the width of the page */
  margin: 0 15% 0 12%;
  /* needed in this element, so dropdown menu can appear outside header */
  overflow: hidden;
}

/* navigation bar to the right of logo */
header .inner-header nav.navbar {
  /* float bar to the right */
  float: right;
}

/* The dropdown container, containing the navbar link as well as all sublinks */
header .dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown content, containing sublinks */
.navbar .dropdown .dropdown-content {
  /* hidden by default, until hovered */
  display: none;
  /* place just below navbar link*/
  position: absolute;
  top: 60px;
  background-color: var(--background-color-e2);
  color: var(--text-color-me);
  /* extend border of navbar links, to encompass top of .dropdown-content */
  /* border-top: 3px solid var(--highlight-color-p); */
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* HYPERLINKS */

/* all header links */
/* header logo: #header-logo */
/* navbar links: .navbar > a and .navbar .dropdown > a */
/* dropdown content links: .dropdown-contents > a */
header div.inner-header a {
  text-align: center;
  padding: 12px 12px;
  /* remove underline usual in links */
  text-decoration: none;
  line-height: 25px;
}

/* header logo links */
header #header-logo {
  color: var(--text-color-he);
  font-size: 25px;
  font-weight: bold;
  /* float left so links group side by side starting on the left */
  float: left;
}

/* navbar links */
header .navbar > a,
header .navbar .dropdown > a {
  /* float left so links group side by side starting on the left */
  float: left;
  color: var(--text-color-me);
  font-size: 18px;
  /* add a small space separating links */
  /* margin: 0px 0px; */
  /* needed to fill size, so it doesn't increase when hovering */
  border-top: 3px solid var(--background-color-e1);
  border-bottom: 3px solid var(--background-color-e1);
}

/* navbar links on active */
header .navbar > a.active,
header .navbar .dropdown > a.active {
  color: var(--text-color-he);
  border-top: 3px solid var(--highlight-color-p);
}

/* navbar links on hover */
header .navbar > a:hover {
  color: var(--text-color-he);
  /* background-color: var(--background-color-e1); */
  /* border-bottom: 3px solid var(--highlight-color); */
}

/* navbar links on hover */
header .navbar .dropdown:hover > a {
  color: var(--text-color-he);
  background-color: var(--background-color-e2);
  border-top: 3px solid var(--background-color-e2);
  border-bottom: 3px solid var(--background-color-e2);
}

/* navbar links on hover and active */
header .navbar .dropdown:hover > a.active {
  border-top: 3px solid var(--highlight-color-p);
}

/* dropdown content links */
.dropdown-content > a {
  /* arrange items vertically */
  display: block;
  color: var(--text-color-me);
}

/* dropdown content links on active */
.dropdown-content > a.active {
  color: var(--text-color-he);
}

/* dropdown content links on hover */
.dropdown-content > a:hover {
  color: var(--text-color-he);
  background-color: var(--background-color-e3);
}

/* THEME PICKER */

/* theme picker container */
header div#theme-picker {
    float: left;
    overflow: hidden;
}

/* button containing icon */
header div#theme-picker button.theme-button {
  /* keep orientation with the navbar links*/
  float: left;
  text-align: center;
  padding: 12px 12px;
  /* remove underline usual in links */
  text-decoration: none;
  line-height: 25px;
  font-size: 18px;
  /* remove standard button border */
  border: 0px;
  border-bottom: 3px solid var(--background-color-e1);
  border-top: 3px solid var(--background-color-e1);
  /* opposite colors */
  background-color: var(--background-color-e1);
  color: var(--text-color-me);
}

header div#theme-picker .material-symbols-outlined {
    font-variation-settings: 'FILL' 1, 'wght' 200, 'GRAD' 200, 'opsz' 40;
}

/* theme options list, containing individual theme pickers */
header div#theme-picker div.theme-options {
  /* hidden by default, until hovered */
  display: none;
  /* place just below navbar link*/
  position: absolute;
  top: 60px;
  /* right: 0px; */
  background-color: var(--background-color-e2);
}

header div#theme-picker:hover button.theme-button {
    background-color: var(--background-color-e2);
    border-bottom: 3px solid var(--background-color-e2);
    border-top: 3px solid var(--background-color-e2);
}
    
/* show theme options on hover */
header div#theme-picker:hover div.theme-options {
  display: block;
}

header div#theme-picker div.theme-options button.pick-theme {
  display: block; /* keep orientation with the navbar links*/
  cursor: pointer; /* change pointer */
  text-align: center;
  padding: 12px 12px;
  text-decoration: none; /* remove underline usual in links */
  line-height: 25px;
  font-size: 18px;
  border: 0px; /* remove standard button border */
  background-color: var(--background-color-e2);
  color: var(--text-color-me);
  width: 100%;
  text-align: left;
}

header div#theme-picker div.theme-options button.pick-theme:hover {
  background-color: var(--background-color-e3);
}

header div#theme-picker div.theme-options button.pick-theme.active {
  color: var(--text-color-he);
}

main {
  margin: 40px;
}

/* link yet to be visited */
main a:link {
  color: var(--highlight-color-p);
}

/* visited link */
main a:visited {
  color: var(--highlight-color-s);
}

/* MODAL FOR .BIB AND ABSTRACT */

/* modal background */
div.modal {
    display: none; /* hidden by default */
    position: fixed; /* stay in place */
    z-index: var(--z-index-modal); /* sit on top */
    left: 0;
    top: 0;
    width: 100%; /* full width */
    height: 100%; /* full height */
    overflow: auto; /* enable scroll if needed */
    background-color: var(--dark-gray-transparent); /* Black w/ opacity */
}

/* modal content box */
div.modal div.modal-content {
    background-color: var(--background-color-e2);
    color: var(--text-color-he);
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 3px solid var(--background-color-e1);
    width: 50%; /* Could be more or less, depending on screen size */
    height: 200px;
    overflow: scroll; /* hide text overflowing but allow scroll */
}

/* The Close Button */
div.modal div.modal-content .close {
    color: var(--text-color-he);
    float: right;
    font-size: 28px;
    font-weight: bold;
}

div.modal div.modal-content .close:hover,
div.modal div.modal-content .close:focus {
    color: var(--highlight-color-p);
    text-decoration: none;
    cursor: pointer;
}

div.modal div.modal-content p {
    white-space: pre-wrap; /* wrap text to fit box, preserve whitespace */
}
