@import "/css/colours.css";

/* COLOR DEFINITIONS

--text-color-he: high emphasis text color

-- shadow: 0px 2px 3px 0px
*/

body.default-theme, body.light-theme {
    --background-color: var(--white);
    
    --text-color-he: var(--gray-15);
    --text-color-me: var(--gray-30);
    --text-color-le: var(--gray-50);
    
    --highlight-color-p: var(--blue-40);
    --highlight-color-s: var(--blue-50);

    --elevation-color-l1: var(--gray-90);
    --elevation-color-l2: var(--gray-80);
    --elevation-color-l3: var(--gray-70);
    --elevation-color-l4: var(--gray-60);
    --elevation-color-l5: var(--gray-50);

    --shadow-color-l1: var(--gray-70);
    --shadow-color-l2: var(--gray-60);
    --shadow-color-l3: var(--gray-50);

    --scrim-color: var(--gray-90-transparent);
}

body.dark-theme {
    --background-color: var(--gray-p);
    
    --text-color-he: var(--white-he);
    --text-color-me: var(--white-me);
    --text-color-le: var(--white-le);
    
    --highlight-color-p: var(--blue-80);
    --highlight-color-s: var(--blue-70);

    --elevation-color-l1: var(--gray-10);
    --elevation-color-l2: var(--gray-20);
    --elevation-color-l3: var(--gray-30);
    --elevation-color-l4: var(--gray-40);
    --elevation-color-l5: var(--gray-50);

    --shadow-color-l1: var(--gray-p);
    --shadow-color-l2: var(--gray-p);
    --shadow-color-l3: var(--gray-p);

    --scrim-color: var(--gray-7-transparent);
}

@media (prefers-color-scheme: light) {
body.default-theme, body.light-theme {
    --background-color: var(--white);
    
    --text-color-he: var(--gray-15);
    --text-color-me: var(--gray-30);
    --text-color-le: var(--gray-50);
    
    --highlight-color-p: var(--blue-40);
    --highlight-color-s: var(--blue-50);

    --elevation-color-l1: var(--gray-90);
    --elevation-color-l2: var(--gray-80);
    --elevation-color-l3: var(--gray-70);
    --elevation-color-l4: var(--gray-60);
    --elevation-color-l5: var(--gray-50);

    --shadow-color-l1: var(--gray-70);
    --shadow-color-l2: var(--gray-60);
    --shadow-color-l3: var(--gray-50);

    --scrim-color: var(--gray-90-transparent);
}

body.dark-theme {
    --background-color: var(--gray-p);
    
    --text-color-he: var(--white-he);
    --text-color-me: var(--white-me);
    --text-color-le: var(--white-le);
    
    --highlight-color-p: var(--blue-80);
    --highlight-color-s: var(--blue-70);

    --elevation-color-l1: var(--gray-10);
    --elevation-color-l2: var(--gray-20);
    --elevation-color-l3: var(--gray-30);
    --elevation-color-l4: var(--gray-40);
    --elevation-color-l5: var(--gray-50);

    --shadow-color-l1: var(--gray-p);
    --shadow-color-l2: var(--gray-p);
    --shadow-color-l3: var(--gray-p);

    --scrim-color: var(--gray-7-transparent);
}
}

@media (prefers-color-scheme: dark) {
body.light-theme {
    --background-color: var(--white);
    
    --text-color-he: var(--gray-15);
    --text-color-me: var(--gray-30);
    --text-color-le: var(--gray-50);
    
    --highlight-color-p: var(--blue-40);
    --highlight-color-s: var(--blue-50);

    --elevation-color-l1: var(--gray-90);
    --elevation-color-l2: var(--gray-80);
    --elevation-color-l3: var(--gray-70);
    --elevation-color-l4: var(--gray-60);
    --elevation-color-l5: var(--gray-50);

    --shadow-color-l1: var(--gray-70);
    --shadow-color-l2: var(--gray-60);
    --shadow-color-l3: var(--gray-50);

    --scrim-color: var(--gray-90-transparent);
}

body.default-theme, body.dark-theme {
    --background-color: var(--gray-p);
    
    --text-color-he: var(--white-he);
    --text-color-me: var(--white-me);
    --text-color-le: var(--white-le);
    
    --highlight-color-p: var(--blue-80);
    --highlight-color-s: var(--blue-70);

    --elevation-color-l1: var(--gray-10);
    --elevation-color-l2: var(--gray-20);
    --elevation-color-l3: var(--gray-30);
    --elevation-color-l4: var(--gray-40);
    --elevation-color-l5: var(--gray-50);

    --shadow-color-l1: var(--gray-p);
    --shadow-color-l2: var(--gray-p);
    --shadow-color-l3: var(--gray-p);

    --scrim-color: var(--gray-7-transparent);
}
}
