@import "/css/colours.css";

body.default-theme, body.light-theme {
    --background-color: var(--white);
    
    --text-color-he: var(--gray-900); /* white high emphasis */
    --text-color-me: var(--gray-800); /* white medium emphasis */
    --text-color-le: var(--gray-700); /* white low emphasis */
    
    --highlight-color-p: var(--blue-900);
    --highlight-color-s: var(--blue-800);

    --elevation-color-l1: var(--gray-200);
    --elevation-color-l2: var(--gray-300);
    --elevation-color-l3: var(--gray-400);
    --elevation-color-l4: var(--gray-500);
    --elevation-color-l5: var(--gray-600);

    --shadow-color-l1: var(--gray-400); /* 0px 2px 3px 0px */
    --shadow-color-l2: var(--gray-500);
    --shadow-color-l3: var(--gray-600);
}

body.dark-theme {
    --background-color: var(--dark-gray);
    
    --text-color-he: var(--white-he); /* white high emphasis */
    --text-color-me: var(--white-me); /* white medium emphasis */
    --text-color-le: var(--white-le); /* white low emphasis */
    
    --highlight-color-p: var(--blue-300);
    --highlight-color-s: var(--blue-200);

    --elevation-color-l1: var(--gray-900);
    --elevation-color-l2: var(--gray-800);
    --elevation-color-l3: var(--gray-700);
    --elevation-color-l4: var(--gray-600);
    --elevation-color-l5: var(--gray-500);

    --shadow-color-l1: var(--dark-gray);
    --shadow-color-l2: var(--dark-gray);
    --shadow-color-l3: var(--dark-gray);
}


@media (prefers-color-scheme: light) {
body.default-theme, body.light-theme {
    --background-color: var(--white);
    
    --text-color-he: var(--gray-900); /* white high emphasis */
    --text-color-me: var(--gray-800); /* white medium emphasis */
    --text-color-le: var(--gray-700); /* white low emphasis */
    
    --highlight-color-p: var(--blue-900);
    --highlight-color-s: var(--blue-800);

    --elevation-color-l1: var(--gray-200);
    --elevation-color-l2: var(--gray-300);
    --elevation-color-l3: var(--gray-400);
    --elevation-color-l4: var(--gray-500);
    --elevation-color-l5: var(--gray-600);

    --shadow-color-l1: var(--gray-400); /* 0px 2px 3px 0px */
    --shadow-color-l2: var(--gray-500);
    --shadow-color-l3: var(--gray-600);
}

body.dark-theme {
    --background-color: var(--dark-gray);
    
    --text-color-he: var(--white-he); /* white high emphasis */
    --text-color-me: var(--white-me); /* white medium emphasis */
    --text-color-le: var(--white-le); /* white low emphasis */
    
    --highlight-color-p: var(--blue-300);
    --highlight-color-s: var(--blue-200);

    --elevation-color-l1: var(--gray-900);
    --elevation-color-l2: var(--gray-800);
    --elevation-color-l3: var(--gray-700);
    --elevation-color-l4: var(--gray-600);
    --elevation-color-l5: var(--gray-500);

    --shadow-color-l1: var(--dark-gray);
    --shadow-color-l2: var(--dark-gray);
    --shadow-color-l3: var(--dark-gray);
}
}

@media (prefers-color-scheme: dark) {
body.light-theme {
    --background-color: var(--white);
    
    --text-color-he: var(--gray-900); /* white high emphasis */
    --text-color-me: var(--gray-800); /* white medium emphasis */
    --text-color-le: var(--gray-700); /* white low emphasis */
    
    --highlight-color-p: var(--blue-900);
    --highlight-color-s: var(--blue-800);

    --elevation-color-l1: var(--gray-200);
    --elevation-color-l2: var(--gray-300);
    --elevation-color-l3: var(--gray-400);
    --elevation-color-l4: var(--gray-500);
    --elevation-color-l5: var(--gray-600);

    --shadow-color-l1: var(--gray-400); /* 0px 2px 3px 0px */
    --shadow-color-l2: var(--gray-500);
    --shadow-color-l3: var(--gray-600);
}

body.default-theme, body.dark-theme {
    --background-color: var(--dark-gray);
    
    --text-color-he: var(--white-he); /* white high emphasis */
    --text-color-me: var(--white-me); /* white medium emphasis */
    --text-color-le: var(--white-le); /* white low emphasis */
    
    --highlight-color-p: var(--blue-300);
    --highlight-color-s: var(--blue-200);

    --elevation-color-l1: var(--gray-900);
    --elevation-color-l2: var(--gray-800);
    --elevation-color-l3: var(--gray-700);
    --elevation-color-l4: var(--gray-600);
    --elevation-color-l5: var(--gray-500);

    --shadow-color-l1: var(--dark-gray);
    --shadow-color-l2: var(--dark-gray);
    --shadow-color-l3: var(--dark-gray);
}
}
