@import "/css/colours.css";

body.default-theme, body.light-theme {
    --primary-colour: var(--navy);
    --background-colour: var(--cream);
    --highlight-colour: var(--orange);
}

body.dark-theme {
    --primary-colour: var(--cream);
    --background-colour: var(--navy);
    --highlight-colour: var(--orange);
}

@media (prefers-color-scheme: light) {
body.default-theme, body.light-theme {
    --primary-colour: var(--navy);
    --background-colour: var(--cream);
    --highlight-colour: var(--orange);
}

body.dark-theme {
    --primary-colour: var(--cream);
    --background-colour: var(--navy);
    --highlight-colour: var(--orange);
}
}

@media (prefers-color-scheme: dark) {
body.light-theme {
    --primary-colour: var(--navy);
    --background-colour: var(--cream);
    --highlight-colour: var(--orange);
}

body.default-theme, body.dark-theme {
    --primary-colour: var(--cream);
    --background-colour: var(--navy);
    --highlight-colour: var(--orange);
}
}
