@import "/css/themes.css";
@import "/css/global-definitions.css";

/* modal background */
div.modal {
    background-color: var(--dark-gray-transparent); /* Black w/ opacity */
    display: none; /* hidden by default */
    height: 100%; /* full height */
    left: 0;
    overflow: auto; /* enable scroll if needed */
    position: fixed; /* stay in place */
    top: 0;
    width: 100%; /* full width */
    z-index: var(--z-index-modal); /* sit on top */
}

/* modal container box */
div.modal div.modal-container {
    background-color: var(--elevation-color-l2);
    border-radius: 20px;
    margin: 10% auto; /* 15% from the top and centered */
    overflow: scroll; /* hide text overflowing but allow scroll */
    width: 60%; /* Could be more or less, depending on screen size */
}

/* MODAL TAB PICKER */

/* modal tab picker */
div.modal div.modal-container div.modal-tab-picker {
    color: var(--text-color-he);
    font-size: 30px;
    text-align: center;
}

/* modal tab picker buttons */
div.modal div.modal-container div.modal-tab-picker button {
    background-color: var(--elevation-color-l2);
    border: 0px;
    color: var(--text-color-me);
    cursor: pointer; /* change pointer */
    float: left;
    line-height: 30px;
    margin: 0px;
    padding: 5px;
    width: 47%;
}

/* modal tab picker tab buttons */
div.modal div.modal-container div.modal-tab-picker button:not(:last-of-type) {
    font-size: 22px;
    width: 47%;
}

/* modal tab picker close button */
div.modal div.modal-container div.modal-tab-picker button:last-of-type {
    width: 6%;
}

/* modal tab picker buttons on hover */
div.modal div.modal-container div.modal-tab-picker button:hover {
    color: var(--text-color-he);
}

/* modal tab picker tab buttons on hover */
div.modal div.modal-container div.modal-tab-picker button:not(:last-of-type):hover {
    background-color: var(--elevation-color-l3);
}

/* modal tab picker tab buttons on hover */
div.modal div.modal-container div.modal-tab-picker button:not(:last-of-type).active  {
    background-color: var(--elevation-color-l3);
}

/* modal tab picker close button icon */
div.modal div.modal-container div.modal-tab-picker button:last-of-type span {
    font-size: 26px;
    vertical-align: middle;
}

/* google material icon definitions */
div.modal div.modal-container div.modal-tab-picker .material-symbols-outlined {
    font-variation-settings: 'FILL' 1, 'wght' 200, 'GRAD' 200, 'opsz' 24;
}

/* END MODAL TAB PICKER */

/* MODAL TAB CONTENT */

div.modal div.modal-container div.modal-tab-content {
    display: none;
}

/* MODAL TAB CONTENT BODY */ 

/* modal content body */
div.modal div.modal-container div.modal-tab-content-body {
    background-color: var(--elevation-color-l3);
    height: 250px;
    overflow: scroll;
    padding: 0px 15px;
    white-space: pre-wrap; /* wrap text to fit box, preserve whitespace */
}

/* END MODAL TAB CONTENT BODY */ 

/* MODAL TAB CONTENT FOOTER */

/* modal content footer */
div.modal div.modal-container div.modal-tab-content-footer {
    text-align: right;
    /* padding: 5px 0px; */
}

/* modal content footer iteration buttons */
div.modal div.modal-container div.modal-tab-content-footer button {
    display: inline-block;
    background-color: var(--elevation-color-l2);
    border: 0px; /* remove standard button border */
    border-radius: 20px;
    color: var(--text-color-me);
    cursor: pointer; /* change pointer */
    font-size: 16px;
    padding: 10px 16px 10px 12px;
    text-align: left;
    text-decoration: none; /* remove underline usual in links */
}

/* modal content footer iteration button icon */
div.modal div.modal-container div.modal-tab-content-footer button span {
    float: left;
    font-size: 20px;
    margin: 0px 8px 0px 0px;
}

/* google material icon definitions */
div.modal div.modal-container div.modal-tab-content-footer .material-symbols-outlined {
    font-variation-settings: 'FILL' 1, 'wght' 200, 'GRAD' 200, 'opsz' 24;
}

/* modal content footer iteration button on hover */
div.modal div.modal-container div.modal-tab-content-footer button:hover {
    /* background-color: var(--elevation-color-l4); */
    color: var(--text-color-he);
}

/* END MODAL TAB CONTENT FOOTER */

/* END MODAL TAB CONTENT */
