@import "/css/themes.css";
@import "/css/global-definitions.css";

/* paper entry iteration buttons */
.paper-entry div.paper-iteration a,
.paper-entry div.paper-iteration button {
    display: inline-block;
    background-color: var(--background-color);
    border: 0px; /* remove standard button border */
    border-radius: 20px;
    color: var(--text-color-me);
    cursor: pointer; /* change pointer */
    font-size: 16px;
    padding: 10px 16px 10px 12px;
    text-align: left;
    text-decoration: none; /* remove underline usual in links */
    vertical-align: top;
}

/* paper entry iteration buttons on hover */
.paper-entry div.paper-iteration a:hover,
.paper-entry div.paper-iteration button:hover {
    background-color: var(--elevation-color-l2);
    color: var(--text-color-he);
}

/* paper entry iteration button icon */
.paper-entry div.paper-iteration a span:nth-of-type(1),
.paper-entry div.paper-iteration button span:nth-of-type(1) {
    float: left;
    font-size: 20px;
    margin: 0px 8px 0px 0px;
}

/* paper entry iteration button text */
.paper-entry div.paper-iteration a span:nth-of-type(2),
.paper-entry div.paper-iteration button span:nth-of-type(2) {
    float: left;
    font-size: 16px;
    text-align: left;
}

/* google material icon definitions */
.paper-entry div.paper-iteration .material-symbols-outlined {
    font-variation-settings: 'FILL' 1, 'wght' 200, 'GRAD' 200, 'opsz' 24;
}
